/* Style de base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-family: sans-serif;
    background-color: #f0f0f0;
}

#chat, #roomList {
    margin: 10 auto;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

#messages {
    display: flex;
    flex-direction: column-reverse;
    max-height: 400px;
    overflow-y: scroll;
    margin : auto 6px;
    
}


form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

input[type="text"], input[type="password"]  {
    flex: 1;
    padding: 10px 10px; 
    border-radius: 5px;
    margin-right: 10px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #4CAF50;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.me{
    float: right;
    margin-left: 40%;
    background-color: cornflowerblue;
    border-radius: 10px;
    word-wrap: break-word;  
    max-width: 60%;
}


.message{
    margin-top: 5px;
    background-color: #4CAF50;
    border-radius: 10px;
    word-wrap: break-word;
    max-width: 60%;
    min-width: 40%;
}

.message p, .me p {
    color: #fff;
    padding: 12px 15px;   
}



.info {
    font-size: 12px;
    color: #aaa;
    margin : auto 7px;
}

.sender{
    text-align: right;
}

.receiver{
    text-align: left;
}

.button{
    margin : 10px;
    padding: 10px;
    border: #3e8e41 1px solid;
    border-radius: 10px;
    background-color: #3e8e41;
    list-style: none;
    text-align: center;
}

.button a{
    color: #fff;
    text-decoration: none;
    
}

#roomList{
    padding : 80px;
}

.add{
    margin-top: 45px;
    display: flex;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    align-self: center;
    color: #fff;
    text-decoration: none;
}

.deco{
    margin-top: 45px;
    display: flex;
    background-color: red;
    align-self: center;
    color: #fff;
    text-decoration: none;
    border-color: red;
}

#connexion{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    flex-direction: column;
}

#connexion label, #connexion input[type="submit"] {
    margin: 10px;
}




